mixin formatDate(date)
    p #{date.getDate()}-#{date.getMonth() + 1 < 10? "0" + (date.getMonth() + 1) : date.getMonth() + 1}-#{date.getFullYear()} #{date.getHours()}:#{date.getMinutes() < 10? "0" + date.getMinutes() : date.getMinutes()}