include index


  //- ul
  //- each project in projects
  //-   li Current project
  //-     a (href='#') #{project.title}
  //-     a (href='#') #{project.id}
  //-     a (href='#') #{project.leadUser}
#banner .page-header
    .row    
      .panel.panel-primary
        each project in projects    
          .panel-heading
            h3.panel-title #{project.title}
            |   
          .panel-body
            | #{project.description}
    
