include index


  //- ul
  //- each project in projects
  //-   li Current project
  //-     a (href='#') #{project.title}
  //-     a (href='#') #{project.id}
  //-     a (href='#') #{project.leadUser}
  #banner
      .row        
        .col-lg-10
          .page-header
            h1 Projects
      .row
        .col-lg-10.col-md-10   
          .panel.panel-primary
            each project in projects
              - var url = project.title;    
              .panel-heading
                h3.panel-title
                  a(href="projects/" + url) #{project.title}
                |   
              .panel-body
                | #{project.description}
    
