extends index

block main
    #banner
        .row
            .col-sm-4
                a.btn.btn-default(href='#') Edit
            if (status == "Open")
                .col-sm-4
                    .btn-group
                        a.btn.btn-default(href="/tasks/resolveTask/" + _id) Resolve
                        a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false')
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='#') Resolve
                            li
                                a(href='#') Waiting for
                            li
                                a(href='#') Duplicate
                            li
                                a(href='#') Need more info
            if (status == "Resolved")
                .col-sm-4
                    .btn-group
                        a.btn.btn-default(href='#') Close
                        a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown')
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='#') Close
                            li
                                a(href='#') Reopen
        .row
            .col-lg-5                
                    h1 #{title}
        .row
            .col-lg-4
                p Status:
                    if (status === "Open")
                        span.label.label-default #{status}
                    else if (status === "Closed")
                        span.label.label-danger #{status}                    
                    else if (status === "Resolved")
                        span.label.label-success #{status}
                    else if (status === "Reopened")
                        span.label.label-default #{status}
                    else if (status === "Waiting For")
                        span.label.label-warning #{status}
                    else if (status === "Duplicate")
                        span.label.label-danger #{status}
            .col-lg-2
                p Priority:
                    if (priority <=3)
                        span.label.label-danger #{priority}
                    else if (priority <= 7)
                        span.label.label-warning #{priority}
                    else
                        span.label.label-primary #{priority}
        .row
            .col-lg-10
                | Description:
                p #{description}
        .row
            .col-lg-10
                | Reporter:
                p #{reporter}
        .row
            .col-lg-10
                | Assignee:
                p #{assignee}
        hr
        .col-lg-6
            h3 Comments
            p
                h6 By:
                    a(href="/users/Pesho")  Pesho
                div Dont do that!
            if(status === "Open" || status === "Reopened")
                form(action="/tasks/" + _id + "/add-comment" method="post")
                    legend Add a comment
                    .form-group
                        label.col-lg-2.control-label(for='tb-content') Content
                        input#tb-content.form-control(placeholder='Enter your comment', type='text', name="content")
                        input#add-comment-btn.btn.btn-success(type="submit" value="Add comment")
                        input(type='hidden', name='_csrf', value=_csrf)
            else
               h6 You can not add comments on a #{status} task.

