extends index

block main
    #banner
        .row
            .col-lg-5                
                    h1 #{title}
        .row
            .col-sm-1
                a.btn.btn-default(href='#')
                    span.glyphicon.glyphicon-edit
                    |  Edit
            .col-sm-1
                a.btn.btn-default(href='#')
                    span.glyphicon.glyphicon-comment
                    |  Comment
            .col-sm-1
            .col-sm-1
                a.btn.btn-default(href='#')
                    |  Reassign
            .col-sm-1                    
            if (status == "Open" || status == "Reopened" || status == "Waiting For")
                .col-sm-4
                    .btn-group
                        a.btn.btn-default(href="/tasks/resolveTask/" + _id) Resolve
                        a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false')
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/tasks/resolveTask/" + _id) Resolve
                            li
                                a(href="/tasks/waitingForTask/" + _id) Waiting for
                            li
                                a(href="/tasks/duplicateTask/" + _id) Duplicate
                            li
                                a(href="/tasks/needMoreInfoTask/" + _id) Need more info
            if (status == "Resolved" || status == "Duplicate")
                .col-sm-4
                    .btn-group
                        a.btn.btn-default(href="/tasks/closeTask/" + _id) Close
                        a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown')
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/tasks/closeTask/" + _id) Close
                            li
                                a(href="/tasks/reopenTask/" + _id) Reopen
        .row
            br
            .col-lg-4
                p Status: 
                    if (status === "Open")
                        span.label.label-default #{status}
                    else if (status === "Closed")
                        span.label.label-danger #{status}                    
                    else if (status === "Resolved")
                        span.label.label-success #{status}
                    else if (status === "Reopened")
                        span.label.label-default #{status}
                    else if (status === "Waiting For")
                        span.label.label-warning #{status}
                    else if (status === "Duplicate")
                        span.label.label-danger #{status}
                    else if (task.status === "Need More Info")
                        span.label.label-danger #{task.status}
            .col-lg-2
                p Priority: 
                    if (priority <=3)
                        span.label.label-danger #{priority}
                    else if (priority <= 7)
                        span.label.label-warning #{priority}
                    else
                        span.label.label-primary #{priority}
        .row
            .col-lg-5
                | Reporter: 
                p #{reporter}
            .col-lg-5
                | Created: 
                p #{createdDate.getDate()}-#{createdDate.getMonth() + 1 < 10? "0" + (createdDate.getMonth() + 1): createdDate.getMonth() + 1}-#{createdDate.getFullYear()} #{createdDate.getHours()}:#{createdDate.getMinutes() < 10? "0" + createdDate.getMinutes() : createdDate.getMinutes()}
        .row
            .col-lg-5
                | Assignee: 
                p #{assignee}    
            .col-lg-5
                | Last updated:
                p #{updatedDate.getDate()}-#{updatedDate.getMonth() + 1 < 10? "0" + (updatedDate.getMonth() + 1) : updatedDate.getMonth() + 1}-#{updatedDate.getFullYear()} #{updatedDate.getHours()}:#{updatedDate.getMinutes() < 10? "0" + updatedDate.getMinutes() : updatedDate.getMinutes()}
                .row
            .col-lg-10
                | Description:
                p #{description}
                | Assignee:
                p #{assignee}
        hr
        .col-lg-6
            h3 Comments
            p
                h6 By:
                    a(href="/users/Pesho")  Pesho
                div Dont do that!
            if(status === "Open" || status === "Reopened")
                form(action="/tasks/" + _id + "/add-comment" method="post")
                    legend Add a comment
                    .form-group
                        label.col-lg-2.control-label(for='tb-content') Content
                        input#tb-content.form-control(placeholder='Enter your comment', type='text', name="content")
                        input#add-comment-btn.btn.btn-success(type="submit" value="Add comment")
                        input(type='hidden', name='_csrf', value=_csrf)
            else
               h6 You can not add comments on a #{status} task.
