mixin formatDate(date)
    p #{date.getDate()}-#{date.getMonth() + 1 < 10? "0" + (date.getMonth() + 1) : date.getMonth() + 1}-#{date.getFullYear()} #{date.getHours()}:#{date.getMinutes() < 10? "0" + date.getMinutes() : date.getMinutes()}

mixin tasks-table(tasks)
    .row
        .col-xs-10
            h3 Tasks
    .row
        table.table.responsive.table-hover
            thead
                tr
                    th Title
                    th Priority
                    th Assignee
                    th Reporter
                    th Status
            tbody
                each task in tasks
                    tr
                        td
                            a(href="/tasks/" + task.id) #{task.title}
                        td
                            if (task.priority <= 3)
                                span.label.label-danger #{task.priority}
                            else if (task.priority <= 7)
                                span.label.label-warning #{task.priority}
                            else
                                span.label.label-primary #{task.priority}
                        td #{task.assignee.username}
                        td #{task.reporter.username}
                        td
                            if (task.status === "Open")
                                span.label.label-default #{task.status}
                            else if (task.status === "Closed")
                                span.label.label-danger #{task.status}
                            else if (task.status === "Resolved")
                                span.label.label-success #{task.status}
                            else if (task.status === "Reopened")
                                span.label.label-default #{task.status}
                            else if (task.status === "Waiting For")
                                span.label.label-warning #{task.status}
                            else if (task.status === "Duplicate")
                                span.label.label-danger #{task.status}
                            else if (task.status === "Need More Info")
                                span.label.label-warning #{task.status}