mixin formatDate(date)
    p #{date.getDate()}-#{date.getMonth() + 1 < 10? "0" + (date.getMonth() + 1) : date.getMonth() + 1}-#{date.getFullYear()} #{date.getHours()}:#{date.getMinutes() < 10? "0" + date.getMinutes() : date.getMinutes()}

mixin tasks-table(tasks)
    .row
        .col-xs-10
            h3 Tasks
    .row
        table.table.responsive.table-hover
            thead
                tr
                    th Title
                    th Priority
                    th Assignee
                    th Reporter
                    th Status
            tbody
                each task in tasks
                    tr
                        td
                            a(href="/tasks/" + task.id) #{task.title}
                        td
                            if (task.priority <= 3)
                                span.label.label-danger
                                    a(href="/tasks/priority/" + task.priority) #{task.priority}
                            else if (task.priority <= 7)
                                span.label.label-warning
                                    a(href="/tasks/priority/" + task.priority) #{task.priority}                                
                            else
                                span.label.label-primary
                                    a(href="/tasks/priority/" + task.priority) #{task.priority}                                
                        td
                            a(href="/tasks/asignee/" + task.assignee.username) #{task.assignee.username}
                        td 
                            a(href="/tasks/reporter/" + task.reporter.username) #{task.reporter.username}
                        td
                            if (task.status === "Open")
                                span.label.label-default
                                    a(href="/tasks/status/" + task.status class="open") #{task.status}
                            else if (task.status === "Closed")
                                span.label.label-danger
                                    a(href="/tasks/status/" + task.status) #{task.status}                                
                            else if (task.status === "Resolved")
                                span.label.label-success
                                    a(href="/tasks/status/" + task.status) #{task.status}                                
                            else if (task.status === "Reopened")
                                span.label.label-default
                                    a(href="/tasks/status/" + task.status class="open") #{task.status}                                
                            else if (task.status === "Waiting For")
                                span.label.label-warning
                                    a(href="/tasks/status/" + task.status) #{task.status}                                
                            else if (task.status === "Duplicate")
                                span.label.label-danger
                                    a(href="/tasks/status/" + task.status) #{task.status}                                
                            else if (task.status === "Need More Info")
                                span.label.label-warning
                                    a(href="/tasks/status/" + task.status) #{task.status}