include index

block main
    #banner.container
        .col-lg-5
            .page-header
                h1
                    | #{user.fullName}
                a(href='/profile/uploadfile')
                    img.profile-pic(src=user.imagePath)
        .row
            .col-lg-6
                .panel-heading
                    p.panel-title
                        | USERNAME: #{user.username}
                .panel-heading
                    p
                        | FIRST NAME: #{user.firstName}
                    p
                        | LAST NAME: #{user.lastName}
                    p
                        | PERMISSION TYPE: #{user.role}
                    p
                        | E-MAIL:
                        a(href="#{user.email}") 
                            | #{user.email}
        .row
