include index

block main
    #banner.container
        .row
            .col-xs-10
                .page-header
                    h1 All Users
                    a(href=paginate.href({ sort: 'username' })) Sort by name
        .row
            table.table.responsive.table-hover
                thead
                    tr
                        th Username
                        th E-Mail
                        th First Name
                        th Last Name
                        th Full Name
                        th Role
                        th Manage Data
                tbody
                    each user in users
                        tr
                            td  #{user.username}
                            td  #{user.email}
                            td  #{user.firstName}
                            td  #{user.lastName}
                            td  #{user.fullName}
                            td  #{user.role}
                            td
                                form(action="/settings/users/user._id" method="put")
                                    input.btn.btn-primary.btn-xs(type='submit' value="Edit")
                                    input(type='hidden', name='_csrf', value=_csrf)
                                form(action="/settings/users/delete/"+ user._id method="delete")
                                    input.btn.btn-primary.btn-xs(type='submit' value="Delete")
                                    input(type='hidden', name='_csrf', value=_csrf)
include paginate
