include index

block main
    #banner.container
          .row
            .col-xs-10
              .page-header
                h1 All Tasks
          .row
            table.table.responsive.table-hover
              thead
                tr
                  th Title
                  th Priority
                  th Assignee
                  th Reporter
                  th Status
                  th Manage Data
              tbody
                each task in tasks
                  tr
                    td  #{task.title}
                    td  #{task.priority}
                    td
                        | Username: #{task.assignee.username}
                        | Role: #{task.assignee.role}
                    td
                        | Username: #{task.reporter.username}
                        | Role: #{task.reporter.role}

                    td  #{task.status}
                    td
                        form(action="/settings/tasks/task._id" method="put")
                            input.btn.btn-primary.btn-xs(type='submit' value="Edit")
                            input(type='hidden', name='_csrf', value=_csrf)
                        form(action="/settings/tasks/delete/"+ task._id method="post")
                            input.btn.btn-primary.btn-xs(type='submit' value="Delete")
                            input(type='hidden', name='_csrf', value=_csrf)
include paginate
