extends index

block main
    #banner.container
        .row
            .col-xs-10
                .page-header
                    h1 All Projects
        .row
            table.table.responsive.table-hover
                thead
                    tr
                        th Title
                        th Description
                        th Access Type
                        th Created Date
                        th Updated Date
                        th Tasks in project
                        th Contributed user
                        th Manage Data
                tbody
                    each project in projects
                        tr
                            td  #{project.title}
                            td  #{project.description}
                            td  #{project.isPrivate}
                            td  #{project.createdAt}
                            td  #{project.updatedAt}
                            td  #{project.tasks}
                            td  #{project.userContributetTo}
                            td
                                a(href="#") | Edit
                                a(href="#") | Delete
